<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

            <link rel="icon" type="image/png" sizes="32x32" href="../static/images/favicon-32x32.png">
            <link rel="stylesheet" href="../static/style.css">
            <script src="../static/index.js" defer></script>
            <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js" defer></script>
            <script src="../static/gsap.js" defer></script>
            
            <title>hAck3rX Hospital</title>

            <style>
              .attribution { font-size: 11px; text-align: center; }
              .attribution a { color: hsl(228, 45%, 44%); }
            </style>
        </head>
        <body>

          <style>
            body {
              background-image: url('pexels-moose-photos-1037992.jpg');
              background-repeat: no-repeat;
              background-size: 100%;
            }
            </style>

            
      <div class="notification-toast" data-toast>

        <button class="toast-close-btn" data-toast-close>
          <ion-icon name="close-outline"></ion-icon>
        </button>
    
        <div class="toast-banner">
          
        </div>
    
        <div class="toast-detail">
    
          <p class="toast-message">
            We re here with you to help you
          </p>
    
          <p class="toast-title">
            Dr Divabichiv
          </p>
    
          <p class="toast-meta">
            <time datetime="PT2M">2 Minutes</time> ago
          </p>
    
        </div>
    </div>





            <header>
               



                <div class="logo parallelogram">
                    <span class="skew-fix"></span>
                    </div>
                    
                    <div class="topnav" id="myTopnav">
                    <a href="index.html" class="active">HOME</a>
                    
                    
                    <div class="dropdown">
                    <button class="dropbtn">SERVICES
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content animate">
                    <a href="#">Emergency room services</a>
                    <a href="#">Short-term hospitalization</a>
                    <a href="#">X-ray/radiology services</a>
                    </div>
                    </div> 
                    <a href="#contact">CONTACT</a>
                    <a href="#about">ABOUT</a>
                    <a href="#" title="SignIn" style="float:right;"><i class="fa fa-user"></i></a>
                    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
                    </div>



                <div class="header-intro">
                    <div class="header-illustration"></div>
                    <section class="intro">
                        <h1 class="intro-item">Our new facial Recognition techonology .</h1>
                        <p class="intro-item">We have increased the security this facial recognition is better and more
                            reliable then personally visiting the doctors <br> [click on Registration below to book an appointment].</p></p>
                        <form action="/register" method="GET" >
                        <a href="./register.html">
                            <button class="inside">
                             <b>Book an Appointment</b> 
                            </button>
                        </a>
                      </form>
                    </section>
                </div>

            </header>
<style>
  button.inside{
    visibility:visible;
    display:flex;
    color:rgb(0, 0, 0);
    animation: forwards;
  }
</style>


            <main>

               


                <div class="banner">

                    <div class="container">
                  
                      <div class="slider-container has-scrollbar">
                  
                        <div class="slider-item">
                  
                          <img src="https://www.royalmarsden.org/sites/default/files/2022-07/Super%20Surgeons%20Documentary%20C4%20The%20Royal%20Marsden%20Cancer%20Charity_1.jpg" alt="women's latest fashion sale" class="banner-img">
                  
                          <div class="banner-content">
                  
                            <p class="banner-subtitle">Best Surgeons</p>
                  
                            <h2 class="banner-title">success rate more than 90%</h2>
                  
                            <p class="banner-text">
                              Starting appoinment Rs<b>20000/</b>
                            </p>
                  
                            <a href="#" class="banner-btn">hAck3rX</a>
                  
                          </div>
                  
                        </div>
                  
                        <div class="slider-item">
                  
                          <img src="https://content.jdmagicbox.com/comp/mumbai/r8/022pxx22.xx22.221014163202.r8r8/catalogue/-55w5zpc46p.jpg?clr=.jpg" alt="modern sunglasses" class="banner-img">
                  
                          <div class="banner-content">
                  
                            <p class="banner-subtitle">Equipments</p>
                  
                            <h2 class="banner-title">Best Equipments in India</h2>
                  
                            <p class="banner-text">
                              <b>courage is yours</b>
                            </p>
                  
                            <a href="#" class="banner-btn">hAck3rX</a>
                  
                          </div>
                  
                        </div>
                  
                        <div class="slider-item">
                  
                          <img src="https://www.healthcareitnews.com/sites/hitn/files/07-baylor-scott-white-hillcrest1.jpg" alt="modern sunglasses" class="banner-img">.jpg" alt="modern sunglasses" class="banner-img">
                            <bg color="red">
                          <div class="banner-content">
                  
                            <p class="banner-subtitle">Hospital Scenary</p>
                  
                            <h2 class="banner-title">The view is enough to make a patient cure.</h2>
                  
                            <p class="banner-text">
                              <b>Andheri-West</b>
                            </p>
                  
                            <a href="#" class="banner-btn">hAck3rX</a>
                          </bg>
                          </div>
                  
                        </div>
                  
                      </div>
                  
                    </div>
                  
                  </div>
                  








                  <section class="section" id="section--3">
                    <h1> testimonials</h1>
                    <style>
                      .h1{
                        display:flex;
                        text-align:left;
                        text-size-adjust: 200rem;
                      }
                    </style>
                    <div class="slider">
                      <div class="slide slide--1">
                        <div class="testimonial">
                          <h5 class="testimonial__header">Best Hospital</h5>
                          <blockquote class="testimonial__text">
                            "I would like to express my sincere thanks to all the doctors and the entire nursing staff of Tata Main Hospital for the care, devotion and patience displayed during my stay in TMH & thereafter."  
                          </blockquote>
                          <address class="testimonial__author">
                            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="" class="testimonial__photo" />
                            <h6 class="testimonial__name">Abhijeet</h6>
                            <p class="testimonial__location">San Francisco, USA</p>
                          </address>
                        </div>
                      </div>
              
                      <div class="slide slide--2">
                        <div class="testimonial">
                          <h5 class="testimonial__header">
                            Cured from cold
                          </h5>
                          <blockquote class="testimonial__text">
                            "The services provided by the whole nursing staff and doctors were very professional and friendly. I appreciate the effort made by all the medical staff during the course of the treatment of my children."    
                          </blockquote>
                          <address class="testimonial__author">
                            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="" class="testimonial__photo" />
                            <h6 class="testimonial__name">Shivprasad</h6>
                            <p class="testimonial__location">London, UK</p>
                          </address>
                        </div>
                      </div>
              
                      <div class="slide slide--3">
                        <div class="testimonial">
                          <h5 class="testimonial__header">
                            Finally free from old ladies
                          </h5>
                          <blockquote class="testimonial__text">
                            "I am glad to receive the best service from all the staff such as the doctors, nurses, cleaning staff and canteen supply also."    
                          </blockquote>
                          <address class="testimonial__author">
                            <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="" class="testimonial__photo" />
                            <h6 class="testimonial__name">Divyal</h6>
                            <p class="testimonial__location">Lisbon, Portugal</p>
                          </address>
                        </div>
                      </div>
              
                      <!-- <div class="slide"><img src="img/img-1.jpg" alt="Photo 1" /></div>
                      <div class="slide"><img src="img/img-2.jpg" alt="Photo 2" /></div>
                      <div class="slide"><img src="img/img-3.jpg" alt="Photo 3" /></div>
                      <div class="slide"><img src="img/img-4.jpg" alt="Photo 4" /></div> -->
                      <button class="slider__btn slider__btn--left">&larr;</button>
                      <button class="slider__btn slider__btn--right">&rarr;</button>
                      <div class="dots"></div>
                    </div>
                  </section>












    
                  <footer>
                    <div class="footer-nav">
                
                      <div class="container">
                
                        <ul class="footer-nav-list">
                
                          <li class="footer-nav-item">
                            <h2 class="nav-title">Popular Doctors</h2>
                          </li>
                
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Ramman</a>
                          </li>
                
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">luthur</a>
                          </li>
                
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Pero</a>
                          </li>
                
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Martin</a>
                          </li>
                
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Krishna</a>
                          </li>
                
                        </ul>
                
                        <ul class="footer-nav-list">
                        
                          <li class="footer-nav-item">
                            <h2 class="nav-title">Hospital Awards</h2>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Best surgeons 2021</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Best gardens 2020</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Best Phd doctors</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Best on site view</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Best site</a>
                          </li>
                        
                        </ul>
                
                        <ul class="footer-nav-list">
                        
                          <li class="footer-nav-item">
                            <h2 class="nav-title">Our Doctors</h2>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">surgeons</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Pediatrician</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Oncologist</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Cardiologist</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Gastroenterologist</a>
                          </li>
                        
                        </ul>
                
                        <ul class="footer-nav-list">
                        
                          <li class="footer-nav-item">
                            <h2 class="nav-title">Services</h2>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Best medicines</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">New products</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Best Doctors</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Contact us</a>
                          </li>
                        
                          <li class="footer-nav-item">
                            <a href="#" class="footer-nav-link">Sitemap</a>
                          </li>
                        
                        </ul>
                
                        <ul class="footer-nav-list">
                
                          <li class="footer-nav-item">
                            <h2 class="nav-title">Contact</h2>
                          </li>
                
                          <li class="footer-nav-item flex">
                            <div class="icon-box">
                              <ion-icon name="location-outline"></ion-icon>
                            </div>
                
                            <address class="content">
                              419 State 414 Rte
                             Near Ram Temple ,Andheri west.
                            </address>
                          </li>
                
                          <li class="footer-nav-item flex">
                            <div class="icon-box">
                              <ion-icon name="call-outline"></ion-icon>
                            </div>
                
                            <a href="tel:+607936-8058" class="footer-nav-link">229292910</a>
                          </li>
                
                          <li class="footer-nav-item flex">
                            <div class="icon-box">
                              <ion-icon name="mail-outline"></ion-icon>
                            </div>
                
                            <a href="mailto:example@gmail.com" class="footer-nav-link">hAck3rX@gmail.com</a>
                          </li>
                
                        </ul>
                
                        <ul class="footer-nav-list">
                
                          <li class="footer-nav-item">
                            <h2 class="nav-title">Follow Us</h2>
                          </li>
                
                          <li>
                            <ul class="social-link">
                
                              <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link">
                                  <ion-icon name="logo-facebook"></ion-icon>
                                </a>
                              </li>
                
                              <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link">
                                  <ion-icon name="logo-twitter"></ion-icon>
                                </a>
                              </li>
                
                              <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link">
                                  <ion-icon name="logo-linkedin"></ion-icon>
                                </a>
                              </li>
                
                              <li class="footer-nav-item">
                                <a href="#" class="footer-nav-link">
                                  <ion-icon name="logo-instagram"></ion-icon>
                                </a>
                              </li>
                
                            </ul>
                          </li>
                
                        </ul>
                
                      </div>
                
                    </div>
                
                    <div class="footer-bottom">
                
                      <div class="container">
                
                        <img src="../static/payment.png" alt="payment method" class="payment-img">
                        <p class="copyright">
                          Copyright &copy; <a href="#">hAcK3rX hospital</a> all rights reserved.
                        </p>
                
                      </div>
                
                    </div>
                
                  </footer>
                
                
                    
            
      
                  









                  <script>
                    const slider = function () {
                  const slides = document.querySelectorAll('.slide');
                  const btnLeft = document.querySelector('.slider__btn--left');
                  const btnRight = document.querySelector('.slider__btn--right');
                  const dotContainer = document.querySelector('.dots');
                
                  let curSlide = 0;
                  const maxSlide = slides.length;
                
                  // Functions
                  const createDots = function () {
                    slides.forEach(function (_, i) {
                      dotContainer.insertAdjacentHTML(
                        'beforeend',
                        `<button class="dots__dot" data-slide="${i}"></button>`
                      );
                    });
                  };
                
                  const activateDot = function (slide) {
                    document
                      .querySelectorAll('.dots__dot')
                      .forEach(dot => dot.classList.remove('dots__dot--active'));
                
                    document
                      .querySelector(`.dots__dot[data-slide="${slide}"]`)
                      .classList.add('dots__dot--active');
                  };
                
                  const goToSlide = function (slide) {
                    slides.forEach(
                      (s, i) => (s.style.transform = `translateX(${100 * (i - slide)}%)`)
                    );
                  };
                
                  // Next slide
                  const nextSlide = function () {
                    if (curSlide === maxSlide - 1) {
                      curSlide = 0;
                    } else {
                      curSlide++;
                    }
                
                    goToSlide(curSlide);
                    activateDot(curSlide);
                  };
                
                  const prevSlide = function () {
                    if (curSlide === 0) {
                      curSlide = maxSlide - 1;
                    } else {
                      curSlide--;
                    }
                    goToSlide(curSlide);
                    activateDot(curSlide);
                  };
                
                  const init = function () {
                    goToSlide(0);
                    createDots();
                
                    activateDot(0);
                  };
                  init();
                
                  // Event handlers
                  btnRight.addEventListener('click', nextSlide);
                  btnLeft.addEventListener('click', prevSlide);
                
                  document.addEventListener('keydown', function (e) {
                    if (e.key === 'ArrowLeft') prevSlide();
                    e.key === 'ArrowRight' && nextSlide();
                  });
                
                  dotContainer.addEventListener('click', function (e) {
                    if (e.target.classList.contains('dots__dot')) {
                      const { slide } = e.target.dataset;
                      goToSlide(slide);
                      activateDot(slide);
                    }
                  });
                };
                slider();
                </script>
            
            






    </body>
</html>