<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Matteo Bruni">
    <title>Register Template - tsParticles</title>

    <!-- Custom styles for this template -->
    <link href="../static/particles.css" rel="stylesheet"/>
    <link href="../static/auth.css" rel="stylesheet"/>
</head>

<body>
    
<div id="tsparticles"></div>
<main class="box">
    <h2>Register</h2>
    <form action="/add" method="POST" enctype="multipart/form-data">
        <div class="inputBox">
            <label for="userName">Name</label>
            <input type="text" name="userName" id="userName" placeholder="Enter Name" required/>
        </div>
        <div class="inputBox">
            <label for="userPassword">Password</label>
            <input type="password" name="userPassword" id="userPassword" placeholder="Enter password"
                   required/>
                   <div class="inputBox">
                    <label for="weight">weight</label>
                    <input type="int" name="userWeight" id="userWeight" placeholder="Enter weight"
                           required/>  
                           <div class="inputBox">
                            <label for="phonenumber">phone number</label>
                            <input type="tel" name="phonenumber" id="phonenumber" placeholder="Enter phone number"
                                   required/>
                                   <div class="dropdown"></div>   
                                   <label for="disease">choose a disease</label> 
                                   <select name="diseasename" id="diseasename">
                                    <option value="cancer">cancer</option>
                                    <option value="cancer">corona</option>
                                    <option value="cancer">any other illness</option>
                                   </select> 
             
             
                                   <div class="inputBox">
                                    <br>
                                    <label for="facegeneration">Face recognition</label>
                                    <!-- <input type="/" name="facerecognition" id="facerecognition" placeholder="your face recognition"
                                           required/>  -->
                                    <br>
                                    <button style="width: 232px;margin-top: 20px;font-size: 20px;" type='submit' class='btn btn-dark'>
                                            Add Your Face
                                    </button>
                                    
                           </div>   
                           
                           






        </div>
       <style>
         .dropdown {


display: inline-block;
display:flex;


position: relative;


}
       </style>
        </div>
        <br>
        <button type="submit" name="" style="float: left;">Submit</button>
        <a class="button" href="./login.html" style="float: left;">Login</a>
    </form>
</main>
<footer>
</footer>

<script src="https://cdn.jsdelivr.net/npm/tsparticles@1.34.1/tsparticles.min.js"
        integrity="sha256-D6LXCdCl4meErhc25yXnxIFUtwR96gPo+GtLYv89VZo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/registration/js/particles.js"></script>
</body>

</html>
